@tailwind base;
@tailwind components;
@tailwind utilities;


/* font-family: 'Nunito', sans-serif;  */


body {
    background-color: hsla(0,0%,96.5%,.6);
    overflow-x: hidden;
    font-family: work-Sans,sans-serif;
    color: #313131;
}
